<div class="container">
  <div class="upper-box">


    <mat-progress-spinner *ngIf="spinner" mode="indeterminate"></mat-progress-spinner>

    <div class="box left-box mat-elevation-z10">

      <h5>Settings</h5>
      <div class="left-box-content">
        <form [formGroup]="newChampForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" [formControlName]="'newChampName'" (blur)="changeForm()">
          <div *ngIf="!newChampForm.get('newChampName').valid" class="alert alert-danger">
            <span *ngIf="newChampForm.get('newChampName').errors['required']">Name is required!</span>
            <span *ngIf="newChampForm.get('newChampName').errors['badName']">This name is in use!</span>
          </div>
        </div>

        <div class="form-group">
          <label>Format</label>
          <select class="form-control" [formControlName]="'format'" (blur)="changeForm()">
            <option *ngFor="let format of formats">{{ format }}</option>
          </select>
        </div>

        <div [ngSwitch]="newChampForm.get('format').value">

          <div *ngSwitchCase="'group'" class="form-group">
            <div class="form-group">
              <label>Number of groups: <b>{{ newChampForm.get('numberOfGroups').value }}</b></label>
              <mat-slider [formControlName]="'numberOfGroups'" min="2" max="8" step="1" tickInterval="1" color="primary" (blur)="changeForm()"></mat-slider>
              <div *ngIf="!newChampForm.get('numberOfGroups').valid"
                   class="alert alert-danger">
                There are too few players!
              </div>
            </div>
          </div>

          <div *ngSwitchCase="'big-round'">
            <div class="form-group">
              <label>Number of matches per player: <b>{{ newChampForm.get('numberOfMatches').value }}</b></label>
              <mat-slider [formControlName]="'numberOfMatches'" min="2" max="6" step="1" tickInterval="1" color="primary" (blur)="changeForm()"></mat-slider>
              <div *ngIf="!newChampForm.get('numberOfMatches').valid"
                   class="alert alert-danger">
                There are too few players!
              </div>
            </div>
          </div>

        <div class="form-group">
          <label>Size of Playoff: <b>{{ newChampForm.get('sizeOfPlayoff').value }}</b></label>
          <mat-slider [formControlName]="'sizeOfPlayoff'" min="0" max="16" step="2" tickInterval="2" color="primary" (blur)="changeForm()"></mat-slider>
          <div *ngIf="!newChampForm.get('sizeOfPlayoff').valid"
               class="alert alert-danger">
            There are too few players!
          </div>
        </div>

        </div>
        </form>
      </div>

    </div>

    <div class="box middle-box mat-elevation-z10">

      <h5>Participants</h5>
      <div class="middle-info">
        <p id="number-of-players">Number of participants: <b>{{ selectedParticipants.length }}</b></p>
        <button *ngIf="participantType === 'DOUBLE'" mat-button class="add-doubles" (click)="addDouble()"><i class="material-icons">add_box</i></button>
      </div>
      <div *ngIf="participantType != 'DOUBLE'" class="make-scrollable">
        <div *ngFor="let participant of selectedParticipants" class="player-line">
          <p>{{ participant.name }}</p>
          <button mat-button (click)="discardParticipant(participant)"><i class="material-icons">clear</i></button>
        </div>
      </div>

      <div *ngIf="participantType === 'DOUBLE'" class="make-scrollable">
        <div *ngFor="let doubles of selectedParticipants" class="double-line">
          <div *ngFor="let player of doubles.players" class="player-line">
            <p>{{ player.name }}</p>
            <button mat-button><i class="material-icons clear">clear</i></button>
          </div>
          <div *ngIf="doubles.players.length < 2">
            <button mat-button (click)="addPlayerToDouble(doubles.id)" class="add-button"><i class="material-icons">add_box</i></button>
          </div>
        </div>
      </div>

    </div>

    <div *ngIf="showPlayers" class="box right-box mat-elevation-z10">

      <h5>Select participants</h5>
      <div id="search_add">
        <input class="form-control" placeholder="Search or Add participant" [(ngModel)]="searchParticipant">
        <button mat-button (click)="addParticipant()"><i class="material-icons">add_box</i></button>
      </div>
      <div class="make-scrollable">
        <div *ngFor="let participant of filteredParticipants" class="player-line">
            <p>{{participant.name}}</p>
            <button mat-button (click)="selectParticipant(participant)"><i class="material-icons">add_box</i></button>
        </div>
      </div>

    </div>
    <div *ngIf="!showPlayers" class="fake-right-box"></div>

  </div>

  <button type="submit" class="btn btn-success" id="start-button" [disabled]="newChampForm.invalid" (click)="onSubmit()">Create!</button>

</div>

