button {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 0px;
  border-radius: 50%;
  margin: 20px;
  background-color: #253c65;
  border: 2px solid #253c65;
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  font-size: 30px;
}

button:hover {
  width: 66px;
  height: 66px;
  background-color: #3f51b5;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(-4px);
}

#matches-button {
  top: 50px;
}

#results-button {
  top: 140px;
}

#playoff-button {
  top: 230px;
}

#archive-button {
  top: 430px;
  background-color: darkred;
  border: 2px solid darkred;
}

#delete-button {
  top: 520px;
  background-color: darkred;
  border: 2px solid darkred;
}

#matches-button img{
  max-height: 30px;
}

#results-button img {
  max-height: 40px;
}

#playoff-button img {
  max-height: 50px;
  margin-top: 2px;
  margin-left: 6px;
}

#delete-button img {
  max-height: 40px;
}

#archive-button img {
  max-height: 40px;
}

.selected img{
  filter: invert(40%) sepia(60%) saturate(904%) hue-rotate(190deg) brightness(25%) contrast(85%);
}

.selected {
  background-color: white;
  width: 66px;
  height: 66px;
}

