<div class="container">

  <!-- navbar -->
  <mat-toolbar color="primary">
    <div id="navbar_left">
      <div id="navbar_championships">
        <button mat-button class="champ_button" [class.is-selected]="champ.id == selectedId" *ngFor="let champ of actualChampionships"
                routerLink="/championship/{{ champ.id }}">{{ champ.name }}</button>
      </div>
      <button mat-button id="new_champ_button" (click)="open(new_champ_modal)"><i class="material-icons">add_circle_outline</i></button>
    </div>

    <div id="navbar_right">
      <button mat-button routerLink="/profile">Archive</button>
    </div>
  </mat-toolbar>
  <div class="placeholder"></div>

  <router-outlet></router-outlet>


</div>


<!-- new championship name modal -->
<ng-template #new_champ_modal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">Create new championsip</h6>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="newChampModalForm" (ngSubmit)="onSubmit()" class="form-group">
      <input type="text" formControlName="newChampName" class="form-control">
      <div *ngIf="!newChampModalForm.get('newChampName').valid" class="alert alert-danger">
        <span *ngIf="newChampModalForm.get('newChampName').errors['required']">Name is required!</span>
        <span *ngIf="newChampModalForm.get('newChampName').errors['badName']">This name is in use!</span>
      </div>
    </form>
    <button type="submit" [disabled]="newChampModalForm.invalid" class="btn btn-success" (click)="createChampionship();modal.dismiss()">
      Create
    </button>
  </div>
</ng-template>

